<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the confirmation or sending email</h1>
    <form class="row g-3 message-form" method="post" action="/user/faisel">
        <!-- <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <textarea name="message" class="form-control" id="message" cols="60" rows="1" placeholder="Your message"></textarea>
        </div> -->
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Send</button>
        </div>
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
        document.querySelector(".message-form").addEventListener('submit', (e) => {
        e.preventDefault()
        console.log("helo")
    })
    </script>
</body>
</html>
